Assignment2-n8n_AI_Agent/IS492-A2-su60.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8f6e21c3-c07a-4909-886e-621dd1ab6e75",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://export.arxiv.org/api/query?search_query=all:human-AI+collaboration&start=0&max_results=1&sortBy=submittedDate&sortOrder=descending",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "fb408089-9e58-44d7-acd9-a5379152fa1c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "ed621f82-6bf5-44b3-97d2-bf2685b6dc3f",
      "name": "XML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4170664f-c042-41a3-8654-e794a5eec90e",
              "name": "title",
              "value": "={{ $json.feed.entry.title }}",
              "type": "string"
            },
            {
              "id": "ee2f9917-da51-4526-9d02-118558766df6",
              "name": "authors",
              "value": "={{ $json.feed.entry.author.map(a => a.name).join(', ') }}",
              "type": "string"
            },
            {
              "id": "0acd535a-cbcd-4b60-b263-aca434de7e34",
              "name": "published",
              "value": "={{ $json.feed.entry.published }}",
              "type": "string"
            },
            {
              "id": "52cce043-2c91-4135-8c9c-5f1bf986354c",
              "name": "link",
              "value": "={{ $json.feed.entry.id }}",
              "type": "string"
            },
            {
              "id": "d3b4bfff-1957-41b5-88e5-9cbc414e3edd",
              "name": "abstract",
              "value": "={{ $json.feed.entry.summary }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "8da95dba-228f-497d-a284-a123373977f4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this research paper abstract in 3-4 clear sentences for a student:  {{ $json.abstract }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        832,
        0
      ],
      "id": "57461b76-64df-4f30-9118-3c95cbb4874b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "44ee7328-1aa8-4689-b5f5-9205d3c8bf4c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VZxXDa7qj777UHn3",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "william70942@gmail.com",
        "subject": "=New arXiv Paper: {{ $('Edit Fields').item.json.title }}",
        "message": "=New Research Paper Alert  Title: {{ $('Edit Fields').item.json.title }}  \nAuthors: {{ $('Edit Fields').item.json.authors }}  \nPublished: {{ $('Edit Fields').item.json.published }}  \nPaper Link:  {{ $('Edit Fields').item.json.link }}\nAI Summary:  {{ $json.text }}   \nFull Abstract: {{ $('Edit Fields').item.json.abstract }}  \nThis is your daily arXiv research update.  Thanks,  n8n agent demo",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "689be10d-d16c-45ef-bc0c-29e821188122",
      "name": "Send a message",
      "webhookId": "3c1b5b45-5a5d-410a-8de3-285baa19b9c1",
      "credentials": {
        "gmailOAuth2": {
          "id": "zwKIpYDAxlb8bGW4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1xdX0aDxys_J2qiPqpSISPQBJN8jtV1y2FTtCvTJ7bdc",
          "mode": "list",
          "cachedResultName": "IS492 Assignment2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xdX0aDxys_J2qiPqpSISPQBJN8jtV1y2FTtCvTJ7bdc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xdX0aDxys_J2qiPqpSISPQBJN8jtV1y2FTtCvTJ7bdc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Edit Fields').item.json.title }}",
            "Authors": "={{ $('Edit Fields').item.json.authors }}",
            "Published": "={{ $('Edit Fields').item.json.published }}",
            "Link": "={{ $('Edit Fields').item.json.link }}"
          },
          "matchingColumns": [
            "Authors"
          ],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Authors",
              "displayName": "Authors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Published",
              "displayName": "Published",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        176
      ],
      "id": "699eb52a-fddc-4e70-9ba0-d98246b3a10a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2ZzmhxfoSUtkezmw",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1483701053374599288",
          "mode": "list",
          "cachedResultName": "willsuYC Lab Server",
          "cachedResultUrl": "https://discord.com/channels/1483701053374599288"
        },
        "channelId": {
          "__rl": true,
          "value": "1483701054049747057",
          "mode": "list",
          "cachedResultName": "一般",
          "cachedResultUrl": "https://discord.com/channels/1483701053374599288/1483701054049747057"
        },
        "content": "=New Paper:  {{ $('Edit Fields').item.json.title }}\nLink: {{ $('Edit Fields').item.json.link }}\nSummary: {{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1120,
        -144
      ],
      "id": "51f5a1c4-8d86-4f75-84fa-89b17e4bf8ff",
      "name": "Send a message1",
      "webhookId": "b81afe2b-3230-44ec-8d32-926160c9b163",
      "credentials": {
        "discordBotApi": {
          "id": "3L2P8Y5ejk6MgbyC",
          "name": "Discord Bot account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e7eb369e-3c9a-4cb4-b31d-92a8e479b903",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88f3a647adf17f294935a47df6c38c30f9cc98eb7c8a42f1e1d9231ec6bec508"
  },
  "id": "qzvaDNIMLlPC1WzB",
  "tags": []
}